<body>
<app-dashboardnavbar></app-dashboardnavbar>
<div class="orderdiv" id="maindiv">
    <h2>Order Details !!</h2>
<p>{{ord.product.pname}}</p>
<img src={{ord.product.purl}} width="350" height="300">
<p>Order date:&nbsp;{{ord.orderDate}}</p>
<p>Months Left: &nbsp;{{ord.monthsLeft}}</p>
<p>Amount Paid: &nbsp;&#8377;{{ord.amountPaid.toLocaleString('en-IN')}}</p>
<p>Due Amount: &nbsp;&#8377;{{ord.dueAmount.toLocaleString('en-IN')}}</p>
<button class="btn btn-primary" (click)="paynow()">Pay Monthly EMI!!</button>

<div class="transactions division">
    <h1 class="transtableheading">Recent transactions</h1>
    <table class="table table-dark table-striped srk">
        <tr>
            <th>Product</th>
            <th>Date</th>
            <th>Amount Paid</th>
           
        </tr>
        <tr *ngFor="let ord of list; let i=index">
             <td>{{ord.orderID}}</td>
             <td>{{ord.transactionDate}}</td>
             <td>&#8377;{{ord.amountPaid.toLocaleString('en-IN')}}</td>
             
        </tr>
    </table>
    <input type="button" value="Download PDF" onclick="window.print()"/>
</div>
</div>
</body>