// .float-container {
//     border: 0px solid #fff;
//     padding: 0px;
//     background-color: beige;
// }

// .float-child1 {
//     width: 33%;
//     float: left;
    
// }  
// .float-child2 {
//     width: 67%;
//     float: left;
//     //padding-right: 300px;
//     padding-left: 250px;
//     padding-right: 250px;
//     padding-top: 151px;
//     padding-bottom: 151px;
//     background-color: beige;
//     //border: 2px solid red;
// }  
// .form-group{
//     width: 100%;
   
//     margin-right: auto;
//     //margin-right: 110px;
//     display: inline-block;
// }
// .heading{
//     margin-bottom: 20px;
// }
// .sub{
//     margin-top: 10px;
// }






.vertical-menu {
  width: 13%;
  padding-right: 10px;
  margin-left: 18%;
  float: left;
  
  /* Set a width if you like */
}

.vertical-menu a { /* Grey background color */ /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 8px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  background-image: -moz-linear-gradient(to left, #e7db94, #e4d7bcbe);
  background-image: -ms-linear-gradient(to left, #e7d4a3, #e4d5c3c2);
  background-image: -o-linear-gradient(to left,  #e9d5a2, #e4d1c2c9);
  background-image: -webkit-linear-gradient(to left,  #e9d39c, #e4d3c0b7);
  background-image: linear-gradient(to left,  #e7d5a5, #e6d1bfb7);
  background-color:hsla(44, 40%, 41%, 0.5);
  color: black;
 
}

.vertical-menu a:hover {
  background-image: -moz-linear-gradient(to left, #e7ca94, #e4c891be);
  background-image: -ms-linear-gradient(to left, #e7c4a3, #e4be91c2);
  background-image: -o-linear-gradient(to left,  #e9c5a2, #e4b897c9);
  background-image: -webkit-linear-gradient(to left,  #e9c39c, #e2be95b7);
  background-image: linear-gradient(to left,  #e7c5a5, #e7bd98b7);
  background-color:hsla(45, 62%, 35%, 0.603);/* Dark grey background on mouse-over */
  color: rgba(0, 0, 0, 0.89); ;
}

.vertical-menu a.active {
  background-image: -moz-linear-gradient(to left, #e7cb94, #e4c891be);
  background-image: -ms-linear-gradient(to left, #e7c4a3, #e4be91c2);
  background-image: -o-linear-gradient(to left,  #e9c5a2, #e4b897c9);
  background-image: -webkit-linear-gradient(to left,  #e9c39c, #e2be95b7);
  background-image: linear-gradient(to left,  #e7c5a5, #e7bd98b7);
  background-color:hsla(45, 62%, 35%, 0.603); /* Dark grey background on mouse-over */
  color: rgba(0, 0, 0, 0.89); ;
}





.main{
  margin-top: 100px;
}


  
  
img {
    max-width: 100%;
    height: auto; }
  
  figure {
    margin: 0; }
  
  p {
    margin-bottom: 0px;
    font-size: 15px;
    color: #777; }
  
  h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #222;
    font-family: 'Montserrat';
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px; }
  
  .clear {
    clear: both; }
  
  body {
   // font-size: 14px;
    line-height: 1.8;
    color: #222;
    //font-weight: 400;
    //font-family: 'Montserrat';
    background-image: url('/assets/images/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    padding: 0px 0;
    background-attachment: fixed;
   }
  
  .container {
    width: 660px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  
  .display-flex {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }
  
  .display-flex-center {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }
  
  .position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
  
  .signup-content {
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    padding: 50px 85px; 
    margin-top: 50px;
    //display: inline-block;
  }
  
  .form-group {
    overflow: hidden;
    margin-bottom: 20px;
   }
  
  .form-input {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: rgb(202, 202, 202); }
    .form-input::input-placeholder{
      color:black;
    }
    .form-input::-webkit-input-placeholder {
      color: rgb(214, 213, 213); }
    .form-input::-moz-placeholder {
      color: rgb(214, 213, 213); }
    .form-input:-ms-input-placeholder {
      color: rgb(214, 213, 213); }
    .form-input:-moz-placeholder {
      color: rgb(214, 213, 213); }
    .form-input::-webkit-input-placeholder {
      font-weight: 500; }
    .form-input::-moz-placeholder {
      font-weight: 500; }
    .form-input:-ms-input-placeholder {
      font-weight: 500; }
    .form-input:-moz-placeholder {
      font-weight: 500; }
    .form-input:focus {
      border: 1px solid transparent;
      -webkit-border-image-source: -webkit-linear-gradient(to right, #9face6, #74ebd5);
      -moz-border-image-source: -moz-linear-gradient(to right, #9face6, #74ebd5);
      -o-border-image-source: -o-linear-gradient(to right, #9face6, #74ebd5);
      border-image-source: linear-gradient(to right, #9face6, #74ebd5);
      -webkit-border-image-slice: 1;
      border-image-slice: 1;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      background-origin: border-box;
      background-clip: content-box, border-box; }
      .form-input:focus::-webkit-input-placeholder {
        color: #222; }
      .form-input:focus::-moz-placeholder {
        color: #222; }
      .form-input:focus:-ms-input-placeholder {
        color: #222; }
      .form-input:focus:-moz-placeholder {
        color: #222; }
  
  .form-submit {
     width: 175px; margin-left: 30%;
    margin-top: 2%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background-image: -moz-linear-gradient(to left, #ebd974, #e6b39f);
    background-image: -ms-linear-gradient(to left, #ebc974, #e6b39f);
    background-image: -o-linear-gradient(to left,  #ebc974, #e6b39f);
    background-image: -webkit-linear-gradient(to left,  #ebc974, #e6b39f);
    background-image: linear-gradient(to left,  #ebc974, #e6b39f); }
  
  input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none; }
  
  input[type=checkbox]:not(old) + label {
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 25px; }
  
  input[type=checkbox]:not(old) + label > span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    background: rgba(255, 239, 185, 0.705);
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
    vertical-align: bottom; }
  
  input[type=checkbox]:not(old):checked + label > span {
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white); }
  
  input[type=checkbox]:not(old):checked + label > span:before {
    content: '\f26b';
    display: block;
    color: #222;
    font-size: 11px;
    line-height: 1.2;
    text-align: center;
    font-family: 'Material-Design-Iconic-Font';
    font-weight: bold; }
  
  .label-agree-term {
    font-size: 12px;
    font-weight: 600;
    color: hsl(32, 66%, 23%); }
  label{
    color: hsl(32, 66%, 23%);
  }
  .term-service {
    color: hsl(32, 66%, 23%);}
  
  .loginhere {
    color: rgb(54, 54, 54);
    font-weight: 500;
    text-align: center;
    margin-top: 91px;
    margin-bottom: 5px; }
  
  .loginhere-link {
    font-weight: 700;
    color: #222; }
  
  .field-icon {
    float: right;
    margin-right: 17px;
    margin-top: -32px;
    position: relative;
    z-index: 2;
    color: rgb(51, 51, 51); }
  
  @media screen and (max-width: 768px) {
    .container {
      width: calc(100% - 40px);
      max-width: 100%; } }
  @media screen and (max-width: 480px) {
    .signup-content {
    
      padding: 50px 25px; } }
  
  .form-control{
  background:none;
  border-color: black;
  color:black;
  }