.float-container {
    border: 0px solid #fff;
    padding: 0px;
    background-color: beige;
}

.float-child1 {
    width: 33%;
    float: left;
    
}  
.float-child2 {
    width: 67%;
    float: left;
    //padding-right: 300px;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 151px;
    padding-bottom: 151px;
    background-color: beige;
    //border: 2px solid red;
}  
.form-group{
    width: 100%;
   
    margin-right: auto;
    //margin-right: 110px;
    display: inline-block;
}
.heading{
    margin-bottom: 20px;
}
.sub{
    margin-top: 10px;
}
