.float-container {
    border: 0px solid #fff;
    padding: 0px;
}

.float-child1 {
    width: 33%;
    float: left;
    
}  
.float-child2 {
    width: 30%;
    float: left;
    margin-top:200px;
    margin-left: 200px;
    padding: 5px;
    //border: 2px solid red;
}  
.form-group{
    width: 100%;
   
    margin: auto;
    //margin-right: 110px;
    display: inline-block;
}
.heading{
    margin-bottom: 20px;
}
.sub{
    margin-top: 10px;
}