<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      
    </ul>
    </nav>
  
    <div class="float-container">

      <div class="float-child1">
        <div class="green">
            <img src="assets/images/reg.jpeg" width="100%">
        </div>
      </div>
      
      <div class="float-child2">
          <h3 class="heading">Login here!!</h3>
        <div class="blue">
          <form (ngSubmit)="loginPerson()" >
              
              <div class="form-group">
                  <label for="uname"><b>Username</b></label>
                  <input class='form-control' type="text" placeholder="Enter Username" name="uname"  [(ngModel)]=uname
                 >
                     Username is invalid!
              </div>
             
              
              
              <div class="form-group">
                  <label for="psw"><b>Password</b></label>
                <input  class='form-control' type="password" placeholder="min8char@6" name="psw" [(ngModel)]=psw >
                  Password is invalid!
              </div>
              
              
              
              <button class="btn btn-success sub" type="submit">Submit</button>
          </form>
        </div>
        <p class="change_link">  
          New User ?
          <a routerLink="/register" class="to-register"> Register Here</a>
      </p>
      </div>
      
      
        
    </div>
