body{
    background-color: white;
}
.box{
    margin: auto;
    background-color:#3f7562;
    padding: 100px;
}
h3{
    text-align: center;
}
.imgbox{
    margin-bottom: 50px;
    text-align: center;
    //margin: auto;
}
.row img {
    border-radius: 50%;
    margin-bottom: 10px;
  }


  .container{
      //margin-top: 50px;
      //width: max-content;
      width: 100%;
      padding: 50px;
      margin-bottom: 0px;
     // background-color: #abedeb;
  }
  .row p{
      text-align: center;
  }
  .in{
      text-align: center;
  }
  