<body>
    <app-indexnavbar></app-indexnavbar>
<div class="box">
<h3>Meet Our Team</h3>
<div class="imgbox"><img src="assets/images/HackSlash.png"></div>

<p>We are all very different. We were born in different cities, at different times, 
    we love different music, food, movies. But we have something that unites us all.
     It is our company. We are its heart. We are not just a team, we are a family.</p>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm photo">
       <div class="in"><img src="assets/images/yashwanthimg.jpg" alt="Avatar" style="width:200px"></div>
        
        <p><b>Yashwanth</b></p>
        <p>Team Leader</p>
      </div>
      <div class="col-sm photo">
        <div class="in"><img src="assets/images/yashwanthimg.jpg" alt="Avatar" style="width:200px"></div>
        <p><b>Akshara</b></p>
        <p>Developer</p>
      </div>
    </div>
     <div class="row">
      <div class="col-sm photo">
        <div class="in"><img src="assets/images/yashwanthimg.jpg" alt="Avatar" style="width:200px"></div>
        <p><b>Surya</b></p>
        <p>Developer</p>
      </div>
      <div class="col-sm photo">
        <div class="in"><img src="assets/images/yashwanthimg.jpg" alt="Avatar" style="width:200px"></div>
        <p><b>Venkat</b></p>
        <p>Developer</p>
      </div>
    
    </div>
  </div>

</body>
