<h3>Details</h3>
<hr>
<table class="table table-dark table-striped srk">
    <tr>
        <td><b>Username:</b> &nbsp;  {{p.uname}}</td>
        <td><b>Email:</b> &nbsp; {{p.email}}</td>
    </tr>
    <tr>
        <td><b>Name:</b> &nbsp; {{p.name}}</td>
        <td><b>Phone no:</b> &nbsp; {{p.phone}}</td>
    </tr>
    <tr>
        <td colspan="2"><b>Address:</b>  &nbsp; {{p.address}}</td>
        
    </tr>
    <tr>
        <td><b>Card Type:</b> &nbsp; {{p.card}}</td>
        <td><b>Bank: </b> &nbsp; {{p.bank}}</td>
    </tr>
    <tr>
        <td><b>Account No:</b> &nbsp; {{p.account}}</td>
        <td><b>IFSC: </b> &nbsp; {{p.ifsc}}</td>
    </tr>
    <!-- <td colspan="2"><button class="btn btn-success">ACTIVATE</button></td> -->
</table>
