// .footer {
//     position: fixed;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     background-color: gray;
//     color: white;
//     text-align: center;
//   }
  .footer-section{
         background-color: cadetblue;
  }
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 1%;
  }
