
.dashboard{
    width:45%;
    margin-left:25%;
    padding-left: 10%;
    padding-top: 5%;
    background-color: white;
    margin-top:5%;
}

.title{
    width:30%;
    margin-left: 25%;
    padding: 2%;
}

.card{
    width:40%;
    margin-left: 15%;
    margin-bottom: 5%;
    border-style: solid;
    border-color: black;
    padding:1%;
}

.card table{
    width: 100%;
    margin-left: 18%;
    padding: 3%;
    margin-bottom: 10%;
}


.values{
    float: right;
    margin-right: 70%;
}

.activated{
    background-color: green;
    padding-left: 25%;
    padding: 2%;
    padding-left: 30%;
}

.credit_info{
    margin-bottom: 5%;
}

.products_list{
    margin-bottom: 5%;
}

.trans_title{
    padding-bottom: 1%;
}

.transactions table{
    margin-left: 5%;
    margin-right: 10%;
    margin-top:5%;
    width:70%;
    border-style:solid;
}

th{
    padding: 5%;
}

.last_col{
    float: right; 
    margin-top:5%;
    margin-right: 8%;
}
