body{
    
    background-image: -moz-linear-gradient(to left, #e7db94, #e4d7bcbe);
    background-image: -ms-linear-gradient(to left, #e7d4a3, #e4d5c3c2);
    background-image: -o-linear-gradient(to left,  #e9d5a2, #e4d1c2c9);
    background-image: -webkit-linear-gradient(to left,  #e9d39c, #e4d3c0b7);
    background-image: linear-gradient(to left,  #e7d5a5, #e6d1bfb7);
  
  }
.dashboard{
    
    background-image: -moz-linear-gradient(to left, #e7db94, #e4d7bcbe);
    background-image: -ms-linear-gradient(to left, #e7d4a3, #e4d5c3c2);
    background-image: -o-linear-gradient(to left,  #e9d5a2, #e4d1c2c9);
    background-image: -webkit-linear-gradient(to left,  #e9d39c, #e4d3c0b7);
    background-image: linear-gradient(to left,  #e7d5a5, #e6d1bfb7);
    background-color:hsla(44, 40%, 41%, 0.5);
    width:60%;
    margin-left:20%;
    box-shadow: 0 0 5px 0 #e9e8ca;
    border-radius: 2mm;
    padding-top: 5%;
}


.head{
    float: left;
    width: 100%;
}

.bcgd{
    margin-top: 5%;
    display:block;
    width: 100%;
}
.card{
    width:55%;
    margin-left: 22%;
    margin-bottom: 10%;
    border-style: solid;
    //border-color: black;
    padding:1%;
    display: table;
    color: white;
    background-image: -moz-linear-gradient(to left, #e7db94, #e4c891be);
    background-image: -ms-linear-gradient(to left, #e7d4a3, #e4be91c2);
    background-image: -o-linear-gradient(to left,  #e9d5a2, #e4b897c9);
    background-image: -webkit-linear-gradient(to left,  #e9d39c, #e2be95b7);
    background-image: linear-gradient(to left,  #e7d5a5, #e7bd98b7);
    background-color:hsla(45, 62%, 35%, 0.603);
    box-shadow: 0 0 10px 0 #b69b50;
}


.card table{
    width: 100%;
    margin-left: 10%;
    padding: 3%;
    margin-bottom: 5%;
    display:auto;
    color: black;
}

.values{
    display: auto;
    float: left;
}
.activated{
    background-color: green;
    padding-left: 25%;
    padding: 2%;
    padding-left: 35%;
}
.container{
    width: 100%;
    padding-bottom: 5%;
    
}
.center-border{
    opacity: 1;
}
.header{
    padding: 1%;
    background-color:  hsla(44, 48%, 38%, 0.247);
    font-weight: bold;
    color:black;
}


.c_details{
    margin-top: 2%;
    padding-left: 3%;
    color: black;
}
.products_list{
    margin-top: 2%;
    padding-left: 3%;
}

.products_list table{
    width: 100%;
}
.transactions{
    margin-top: 2%;
}

.transactions table{
    margin-left: 10%;
    margin-right: 10%;
    margin-top:3%;
    width:100%;
    border-style:solid;
    border-color: rgb(68, 45, 0);
}

th{
    padding: 3%;
}

.last_col{
    float: right; 
    padding-top: 6%;
    padding-right: 5%;
}

.vertical-menu {
    width: 20%;
    padding-right: 10px;
    margin-left: -3%;
    float: left;
    
    /* Set a width if you like */
  }

  .vertical-menu a { /* Grey background color */ /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 8px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    background-image: -moz-linear-gradient(to left, #e7db94, #e4d7bcbe);
    background-image: -ms-linear-gradient(to left, #e7d4a3, #e4d5c3c2);
    background-image: -o-linear-gradient(to left,  #e9d5a2, #e4d1c2c9);
    background-image: -webkit-linear-gradient(to left,  #e9d39c, #e4d3c0b7);
    background-image: linear-gradient(to left,  #e7d5a5, #e6d1bfb7);
    background-color:hsla(44, 40%, 41%, 0.5);
    color: black;
   
  }
  
  .vertical-menu a:hover {
    background-image: -moz-linear-gradient(to left, #e7ca94, #e4c891be);
    background-image: -ms-linear-gradient(to left, #e7c4a3, #e4be91c2);
    background-image: -o-linear-gradient(to left,  #e9c5a2, #e4b897c9);
    background-image: -webkit-linear-gradient(to left,  #e9c39c, #e2be95b7);
    background-image: linear-gradient(to left,  #e7c5a5, #e7bd98b7);
    background-color:hsla(45, 62%, 35%, 0.603);/* Dark grey background on mouse-over */
    color: rgba(0, 0, 0, 0.89); ;
}
  
  .vertical-menu a.active {
    background-image: -moz-linear-gradient(to left, #e7cb94, #e4c891be);
    background-image: -ms-linear-gradient(to left, #e7c4a3, #e4be91c2);
    background-image: -o-linear-gradient(to left,  #e9c5a2, #e4b897c9);
    background-image: -webkit-linear-gradient(to left,  #e9c39c, #e2be95b7);
    background-image: linear-gradient(to left,  #e7c5a5, #e7bd98b7);
    background-color:hsla(45, 62%, 35%, 0.603); /* Dark grey background on mouse-over */
    color: rgba(0, 0, 0, 0.89); ;
  }

 .trans_table{
    color: white;
  }
  .c_details{
      text-transform: uppercase;
  }














  














  .card{
    width: 320px;
    height: 190px;
      -webkit-perspective: 600px;
      -moz-perspective: 600px;
      perspective:600px;
      
    }
    
    .card__part{
      box-shadow: 1px 1px #aaa3a3;
        top: 0;
      position: absolute;
    z-index: 1000;
      left: 0;
      display: inline-block;
        width: 320px;
        height: 190px;
        background-image: url('https://image.ibb.co/bVnMrc/g3095.png'), linear-gradient(to right, #0f2027, #203a43, #2c5364); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 8px;
       
        -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
    }
    
    .card__front{
      padding: 18px;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    }
    
    .card__back {
      padding: 18px 0;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    }
    
    .card__black-line {
        margin-top: 5px;
        height: 38px;
        background-color: #303030;
    }
    
    .card__logo {
        height: 16px;
    }
    
    .card__front-logo{
        text-transform: uppercase;
          position: absolute;
        top: 18px;
        right: 18px;
    }
    .card__square {
        border-radius: 5px;
        height: 30px;
    }
    
    .card_numer {
        display: block;
        width: 100%;
        word-spacing: 4px;
        font-size: 20px;
        letter-spacing: 2px;
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .card__space-75 {
        width: 75%;
        float: left;
    }
    
    .card__space-25 {
        width: 25%;
        float: left;
    }
    
    .card__label {
        font-size: 10px;
        text-transform: uppercase;
        color: rgba(255,255,255,0.8);
        letter-spacing: 1px;
    }
    
    .card__info {
        margin-bottom: 0;
        margin-top: 5px;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    
    .card__back-content {
        padding: 15px 15px 0;
    }
    .card__secret--last {
        color: #303030;
        text-align: right;
        margin: 0;
        font-size: 14px;
    }
    
    .card__secret {
        padding: 5px 12px;
        background-color: #fff;
        position:relative;
    }
    
    .card__secret:before{
      content:'';
      position: absolute;
    top: -3px;
    left: -3px;
    height: calc(100% + 6px);
    width: calc(100% - 42px);
    border-radius: 4px;
      background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
    }
    
    .card__back-logo {
        position: absolute;
        width: 100px;
        height: 50px;
        bottom: 15px;
        right: 15px;
    }
    
    .card__back-square {
        position: absolute;
        bottom: 15px;
        left: 15px;
    }
    
    .card:hover .card__front {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    
    }
    
    .card:hover .card__back {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
    }