
body{
    background-image: url('/assets/images/bags.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  background-position: center center;
  padding: 0px 0;
  
  }
.dashboard{
    
    background-color:hsla(44, 20%, 47%, 0.322);
    width:60%;
    margin-left:25%;
    box-shadow: 0 0 5px 0 #e9e8ca;
    border-radius: 2mm;
    padding-top: 5%;
}


.head{
    float: left;
    width: 100%;
}

.bcgd{
    margin-top: 5%;
    display:block;
    width: 100%;
}
.card{
    width:55%;
    margin-left: 22%;
    margin-bottom: 10%;
    border-style: solid;
    border-color: black;
    padding:1%;
    display: table;
    color: white;
    background-color: hsla(44, 24%, 42%, 0.637);
    box-shadow: 0 0 10px 0 #b49c59;
}


.card table{
    width: 100%;
    margin-left: 10%;
    padding: 3%;
    margin-bottom: 5%;
    display:auto;
}

.values{
    display: auto;
    float: left;
}
.activated{
    background-color: green;
    padding-left: 25%;
    padding: 2%;
    padding-left: 35%;
}
.container{
    width: 100%;
    padding-bottom: 5%;
    
}
.center-border{
    opacity: 1;
}
table{

    color: rgba(61, 43, 2, 0.89);
}
.header{
    padding: 1%;
    background-color:  hsla(44, 35%, 42%, 0.247);
    font-weight: bold;
    color: rgb(75, 75, 75);
}


.c_details{
    margin-top: 2%;
    padding-left: 3%;
    color: rgba(61, 43, 2, 0.89);
}
.products_list{
    margin-top: 2%;
    padding-left: 3%;
}

.products_list table{
    width: 100%;
}
.transactions{
    margin-top: 2%;
}

.transactions table{
    margin-left: 10%;
    margin-right: 10%;
    margin-top:3%;
    width:80%;
    border-style:solid;
    border-color: rgb(68, 45, 0);
}

th{
    padding: 3%;
}

.last_col{
    float: right; 
    padding-top: 6%;
    padding-right: 5%;
}

.vertical-menu {
    width: 20%;
    padding-right: 10px;
    margin-left: 3%;
    float: left;
    
    /* Set a width if you like */
  }

  .vertical-menu a { /* Grey background color */
    color: rgba(61, 43, 2, 0.89); /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 8px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    background-color: hsla(44, 20%, 47%, 0.322);
   
  }
  
  .vertical-menu a:hover {
    background-color: hsla(45, 20%, 37%, 0.733); /* Dark grey background on mouse-over */
    color: rgba(61, 43, 2, 0.89); ;
}
  
  .vertical-menu a.active {
    background-color: hsla(45, 20%, 37%, 0.733); /* Dark grey background on mouse-over */
    color: rgba(61, 43, 2, 0.89); ;
  }
