<div class="bcgd">
    <div class="dashboard">
        <div class="title"><p>Dashboard</p></div>
        <div class="card">
            <table>
                <tr>
                    <td>Card Number:</td>
                    <td class="values"> 123456</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td class="values"> Akshara</td>
                </tr>
                <tr>
                    <td>Valid till:</td>
                    <td class="values">21/08/25</td>
                </tr>
                <tr>
                    <td>Card type:</td>
                    <td class="values">Gold/Titanium</td>
                </tr>
            </table>
            <div class="activated">ACTIVATED</div>
        </div>

        <div class="credit_info">
            <p>Total credit:40,000</p>
        <p> credit used:</p>
        <p> remaining credit:</p>
        </div>

        <div class="products_list">
            <table>
                <tr>
                    <td>Product Name:</td><td>Iphone</td>
                    <td>Amount:</td><td>70,000</td>
                </tr>
                <tr>
                    <td>Paid:</td><td>15,000</td>
                </tr>
                <tr>
                    <td>Balance:</td><td>55,000</td>
                </tr>
            </table>
        </div>

        <div class="transactions">
            <div class="trans_title">Recent transactions:
            </div>
            <table class="trans_table">
                <tr>
                    <th>Product</th>
                    <th style="margin-left: 5%; padding-left: 10%;">Date</th>
                    <th class="last_col">Amount Paid</th>
                </tr>
            </table>
        </div>
    </div>
</div>