
body{
    background-image: url('/assets/images/im.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover
  }
.dashboard{
    
    background-color: rgb(209, 209, 209);
    width:60%;
    margin-left:25%;
    margin-top:3%;
    box-shadow: 0 0 5px 0 #e9e8ca;
    border-radius: 2mm;
    opacity: 0.8;
    padding-top: 5%;
}

.title{
    width:40%;
    margin-left: 40%;
    padding: 2%;
    margin-top:12%;
    margin-bottom: 3%;
}

.head{
    float: left;
    width: 100%;
}

.bcgd{
    margin-top: 10%;
    display:block;
    width: 100%;
}
.card{
    width:55%;
    margin-left: 22%;
    margin-bottom: 10%;
    border-style: solid;
    border-color: black;
    padding:1%;
    display: table;
    color: rgb(200, 200, 200);
    background-color: rgb(70, 69, 69);
    box-shadow: 0 0 5px 0 #e7e6bc;
}


.card table{
    width: 100%;
    margin-left: 10%;
    padding: 3%;
    margin-bottom: 5%;
    display:auto;
}
.values{
    display: auto;
    float: left;
}
.activated{
    background-color: green;
    padding-left: 25%;
    padding: 2%;
    padding-left: 35%;
}
.container{
    width: 100%;
    padding-bottom: 5%;
    
}
.center-border{
    opacity: 1;
}
.header{
    padding: 1%;
    background-color: #e5e7e8;
    font-weight: bold;
    color: rgb(75, 75, 75);
}


.c_details{
    margin-top: 2%;
    padding-left: 3%;
}
.products_list{
    margin-top: 2%;
    padding-left: 3%;
}

.products_list table{
    width: 100%;
}
.transactions{
    margin-top: 2%;
}

.transactions table{
    margin-left: 10%;
    margin-right: 10%;
    margin-top:3%;
    width:80%;
    border-style:solid;
}

th{
    padding: 3%;
}

.last_col{
    float: right; 
    padding-top: 6%;
    padding-right: 5%;
}

.vertical-menu {
    width: 20%;
    padding-right: 10px;
    margin-left: 3%;
    float: left;
    
    /* Set a width if you like */
  }

  .vertical-menu a { /* Grey background color */
    color: rgb(214, 212, 212); /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 8px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    background-color: rgb(172, 172, 172);
   
  }
  
  .vertical-menu a:hover {
    background-color: rgb(209, 209, 209); /* Dark grey background on mouse-over */
    color:black ;
}
  
  .vertical-menu a.active {
    background-color: rgb(209, 209, 209); /* Add a green color to the "active/current" link */
    color: black;
  }
