h3{
    text-align: center;
    margin: 15px ;
}
.ad{
    margin-top: 5px;
    margin-bottom: 50px;
    font-style: italic;
}
.ad1{
    
    width: 500px; 
    margin: auto;
    margin-bottom: 70px;
}
