h3{
    text-align: center;
    margin: 15px ;
}
.ad{
    margin-top: 5px;
    margin-bottom: 50px;
    font-style: italic;
}
.ad1{
    
    width: 500px; 
    margin: auto;
    margin-bottom: 70px;
}
body {

    background-image: -moz-linear-gradient(to left, #e7db94, #e4d7bcbe);
    background-image: -ms-linear-gradient(to left, #e7d4a3, #e4d5c3c2);
    background-image: -o-linear-gradient(to left,  #e9d5a2, #e4d1c2c9);
    background-image: -webkit-linear-gradient(to left,  #e9d39c, #e4d3c0b7);
    background-image: linear-gradient(to left,  #e7d5a5, #e6d1bfb7);
    min-height: 100vh;
  }