
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

  </head>
  <body>
    <app-indexnavbar></app-indexnavbar>
          <h3>Contact Us</h3>
   
          <div class="ad" style="text-align: center;">
          LTI (L&T Infotech)
           Plot No. EL-200, TTC Electronic Zone Shil Phata -<br>
        Mahape Road Kopar Khairane, MIDC Industrial Area, Mahape,<br>
            Navi Mumbai, Maharashtra 400710
         </div>
    <div class="ad1">
        <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=lti%20mahape+(lti)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
         width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
  </body>
</html>


