.float-container {
    border: 0px solid #fff;
    padding: 0px;
}

.float-child1 {
    width: 33%;
    float: left;
    
}  
.float-child2 {
    width: 67%;
    float: left;
    //margin-left: 5px;
    padding: 5px;
    background-color: beige;
    //border: 2px solid red;
}  
.form-group{
    width: 45%;
    margin-right: 10px;
    display: inline-block;
}
.heading{
    margin-bottom: 20px;
}

